/.venv/
/.idea/
/.run/
/.gitignore
.env
.env.local
.env.*.local
/Day 46/Musical Time Machine Project/token.txt
/Day 46/Musical Time Machine Project/.cache
/Day 49/Automated Gym Booking Project/chrome_profile/
/Day 50/Tinder Bot Project/chrome_profile/
/Day 51/chrome_profile/
